.App {
  text-align: center;
}
.container-fluid{
  padding: 1% 6%;
}
.Acards{
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width:1300px){
  .Acards{
    flex-wrap: wrap;
 }
 .Acards .temp{
  padding: 2% 0;
 }
}

.priceTag{
  padding: 5% 0;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
}
@media only screen and (max-width:1300px){
  .priceTag{
    flex-wrap: wrap;
  }
  .order{
    display: flex;
    flex-wrap: wrap;
  }
}

.words{
  align-items: center;
  text-align: center;
  padding: 4% 0;
}
