.idea{
    display: flex;
    padding: 3% 0;
}
.point{
    width: auto;
    padding: 0 2%;
    text-align: center;
}
.point img{
    background-color: #E0E0FF;
    border-radius: 100%;
    padding: 5%;
    width: auto;
}
.point h2{
    padding: 3% 0;
}
.point p{
    padding: 2% 0;
}
@media only screen and (max-width:800px) {
    .idea{
        flex-wrap: wrap;
    }
}